.body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.bodyLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.bodyLinks a{
    font-size: 22px;
    color: #808080;
    align-items: center;
    cursor: pointer;
}

.activeLink{
    color: #FFFFFF !important;
    text-decoration: underline;
}
