.productArea{
    padding: 10rem 0;
    border: 1px solid green;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
}

a.active{
    color: var(--purple);
    font-weight: 800;
}