footer{
    color: #777;
}
.footer{
    display: flex;
    font-weight: 400;
    color: #777;
    padding: 0rem 10rem;
    padding-top: 8rem;
    padding-bottom: 3rem;
}
.footer div:nth-of-type(1){
    width: 50%;
    padding-top: 2rem;
}
.footer div:nth-of-type(1) > div{
    width: 200px;
    height: 90px;
}
.footer ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
}
.footer div:nth-of-type(2),.footer div:nth-of-type(3){
    width: 25%;
}
.footer h3{
    color: #000;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 3rem;
}
footer > div:nth-of-type(2){
    padding: 2rem 10rem;
}