header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
}
.logoCtn{
    width: 200px;
    height: 80px;
}
.searchbarCtn{
    width: 50rem;
}
.searchbarCtn input{
    width: 100%;
    padding: 1rem 4rem;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.cartDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    font-weight: 500;
}
.cartDiv > a:link{
    color: var(--purple);
}
.cartDiv > a:visited{
    color: var(--purple);
}
.cartDiv > a:hover{
    color: #551a8b;
}
.cartDiv > p{
    color: #551a8b;
}
.cartDiv > a{
    text-transform: uppercase;
    font-weight: bold;
}
.categoryDiv{
    background: #9966CB;
    padding: 1rem 11rem;
    color: #f4f4f4;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.categoryDropDown{
    display: flex;
    align-items: center;
    gap: 4rem;
    width: 25%;
}
.categoryDiv ul{
    display: flex;
    gap: 5rem;
    flex: 2;
}