.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 1rem 0rem;
    text-align: center;
    position: relative;
}
.card > div:nth-of-type(1){
    height: 280px;
    width: 280px;
}
.card > div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}
.card h4{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--purple);
}
.card p{
    color: #000;
    font-weight: 400;
    font-size: 1.8rem;
}
.alt{
    background-color: var(--purple);
    color: #fff;
    padding: .5rem 1.2rem;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
}