/* HOT SALES SECTION */
.hotSales{
    padding: 8rem 10rem;
}
.hotSales > div:nth-of-type(2){
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
}

@media screen and (max-width: 800px) {
    .hotSales > div:nth-of-type(2){
        flex-direction: column;
        margin-top: 8rem;
    }   
    .hotSales{
        padding: 8rem 3rem;
    }
}