.topHeader{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 5px;
}
.topHeader h3{
    font-size: 2rem;
    margin-right: 5px;
    text-transform: uppercase;
    border-bottom: 4px solid #9966CB;
}
.topHeader div{
    display: flex;
    gap: 15px;
}
.topHeader p{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
}
.topHeader p.active{
    color: #9966CB;
}

@media screen and (max-width: 800px) {
    .topHeader{
        width: 100%;
        gap: 1rem;
        flex-direction: column;
        align-items: flex-start;
    }
    .topHeader div > h3{
        font-size: 1.8rem;
    }
}