@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --purple: #9966CB;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Lato', sans-serif;
}
img{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    cursor: pointer;
}
p,a,li{
    font-size: 1.7rem;
}
ul,ol{
    list-style: none;
}
button,input[type='checkbox']{
    cursor: pointer;
}