.productDiv {
  display: flex;
  gap: 20rem;
  padding: 8rem 10rem;
}
.imgCtn {
  height: 40rem;
  width: 28%;
}
.imgCtn img {
  width: 100%;
  height: 100%;
}
.productText {
  width: 50%;
}
.productText h4 {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--purple);
}
.productText h2 {
  text-transform: capitalize;
  font-size: 3.2rem;
  margin-top: 2rem;
}
.productText > p {
  font-size: 1.8rem;
  margin-top: 0.5rem;
  font-weight: 600;
  color: var(--purple);
}
.productDetails > p {
  margin-top: 2.5rem;
  line-height: 1.6;
  color: #777;
}
.cartDiv{
    width: fit-content;
    padding: 4.5rem 0;
    display: flex;
    gap: 1.5rem;
}
.cartDiv > div {
  width: fit-content;
  display: flex;
}
.cartDiv > div > p {
    border-collapse:separate;
    padding: .5rem 1.2rem;
    font-size: 1.8rem;
    border: 1px solid #777;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartDiv > div > p:nth-of-type(2){
    border: none;
    border-bottom: 1px solid #000;
    border-top: 1px solid #777;
}
.cartDiv > div > p:nth-of-type(1), .cartDiv > div > p:nth-of-type(3){
  cursor: pointer;
}
.cartDiv button{
    background: var(--purple);
    color: #fff;
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    padding: 1.5rem 2rem;
}


/* Related Products */
.relatedProducts{
  padding: 8rem 10rem;
}
.relatedProducts > div:nth-of-type(2){
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 8rem;
  justify-content: space-between;
}


@media screen and (max-width: 800px) {
  .productDiv{
    flex-direction: column;
    gap: 4rem;
    padding: 3rem;
  }
  .imgCtn{
    width: 100%;
  }
  .productText{
    width: 100%;
  }
  .relatedProducts{
    padding: 3rem;
  }
  .relatedProducts > div:nth-of-type(2){
    width: 100%;
    justify-content: center;
    margin-top: 3rem;
  }
}